* {
    margin: 0;
}

/* Home section  */
#home {
    background-color: black;    
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.8;
}

#name {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}

#name h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

#name div{
    font-size: 20px;
}

#name div span {
    font-weight: bolder;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

/* Navbar  */
#navbar {
    position:sticky;
    top: 150px;
}

#nav{
    position: relative;
    top: -150px;
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    background-color: white;
    border-bottom: 1px solid grey;

}
#logo{
    margin: auto 40px auto 100px;
    color: rgb(255, 193, 7);
    font-size: 30px;
    font-weight: bolder;
}

#button_list{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#buttons{
    width: 700px;
    margin: 0px 50px;
    /* box-sizing: border-box; */
}
#button_list li{
    margin: 5px;
    padding: 10px;
}
#button_list li a{
    color: grey;
    text-decoration: none;
    font-weight: bolder;
    
}
#button_list li a:hover{
    cursor: pointer;
    color: black;
}
